# IDEs
.idea/
.links/

# data
*.zip

# ML
*.ckpt
checkpoints/
out/
tboard/
models/

# Native build outputs
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# Python stuff
*.pyo
*.pyc
__pycache__


# Temporary files
*~
